/***********************
layout
***********************/
.band-intro {
text-align: center;
}

.upcoming-shows ul li {
  padding-left: 30px;
  background-color: crimson;
}

.band-info{
  text-align: center;
}

.band-info p {
  float: left;
  width: 30%;
  padding: 1.5%;
}

img {
  display: block;
  margin: auto;
}
/***********************
fonts
***********************/

.band-intro {

}

.upcoming-shows {

}

.band-info {

}
/***********************
colors
***********************/
.band-intro {

}

.upcoming-shows {

}

.band-info {

}
