/***********************
layout
***********************/
.band-intro {
text-align: center;
}

.upcoming-shows {
  background-color: blue;
  border: 5px solid green;
  width: 15%;
}

.upcoming-shows ul {
background-color: yellow;
width: 90%;
}

.upcoming-shows ul li {
  /*padding-left: 30px;*/
  background-color: crimson;
  width: 90%;
}

.band-info{
  text-align: center;
}

.band-info p {
  float: left;
  width: 30%;
  padding: 1.5%;
}

img {
  display: block;
  margin: auto;
}
/***********************
fonts
***********************/

.band-intro {

}

.upcoming-shows {

}

.band-info {

}
/***********************
colors
***********************/
.band-intro {

}

.upcoming-shows {

}

.band-info {

}
